/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run birneylab/stitchimpute -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Pipeline branch
    mode = "grid_search"

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = 'https://raw.githubusercontent.com/birneylab/test_data/stitchimpute/csv/samplesheet_minimal.csv'

    // Genome references
    genome = null
    igenomes_ignore = true
    fasta = 'https://raw.githubusercontent.com/birneylab/test_data/stitchimpute/fasta/Oryzias_latipes.ASM223467v1.dna.primary_assembly.15%3A18000000-18001000_2_contigs.fa'

    // STITCH auxiliary files and parameters
    stitch_posfile     = 'https://raw.githubusercontent.com/birneylab/test_data/stitchimpute/stitch/posfile_2_contigs.tsv'
    stitch_grid_search = 'https://raw.githubusercontent.com/birneylab/test_data/stitchimpute/stitch/grid_search.csv'
}
