/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run birneylab/stitchimpute -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = "${projectDir}/assets/test_data/csv/samplesheet_minimal.csv"

    // Genome references
    genome          = null
    igenomes_ignore = true
    fasta           = "${projectDir}/assets/test_data/fasta/test_reference.fa"

    // STITCH auxiliary files and parameters
    stitch_posfile         = "${projectDir}/assets/test_data/stitch/posfile_2_contigs.tsv"
    snp_filtering_criteria = "${projectDir}/assets/test_data/csv/snp_filtering_criteria.csv"
    stitch_K               = 2
    stitch_nGen            = 1

    // ground truth
    ground_truth_vcf    = "${projectDir}/assets/test_data/vcf/ground_truth.vcf.gz"
    downsample_coverage = 1e-5
    random_seed         = 1

    // workflow-specific
    filter_var = "info_score"

}
